CIFAR10_data/cifar-10-python.tar.gz
CIFAR10_data/cifar-10-batches-py/batches.meta
CIFAR10_data/cifar-10-batches-py/data_batch_1
CIFAR10_data/cifar-10-batches-py/data_batch_2
CIFAR10_data/cifar-10-batches-py/data_batch_3
CIFAR10_data/cifar-10-batches-py/data_batch_4
CIFAR10_data/cifar-10-batches-py/data_batch_5
CIFAR10_data/cifar-10-batches-py/readme.html
CIFAR10_data/cifar-10-batches-py/test_batch
